* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-item {
  background-size: cover;
  background-position: center;
  height: 200px;
}

.item1 {
  background-image: url(chapter6img/box1.jpg);
}

.item2 {
  background-image: url(chapter6img/box2.jpg);
}

.item3 {
  background-image: url(chapter6img/box3.jpg);
}

.item4 {
  background-image: url(chapter6img/box4.jpg);
}